* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #C0C86D;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    cursor: url("./assets/cursor.png"), pointer;
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-position: center;   /* Centers the image */

}

.progress {
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.header {
    margin-bottom: 12px;
}

.container {
    width: 1800px;
    height: 930px;
    /* width: 100%;
    height: 100%; */
   
    display: flex;
    justify-content: space-around;
    align-items: start;
    /* gap: 180px; */
    flex-wrap: wrap;
}

.hole {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole img {
    width: 125%;
}

.hide {
    display: none;
}